Math Functions

In [ ]:
print(2**3)  # ** indicates power of i.e 2 power of 3
print(5//4)
print(6 % 4) # modulo

# math functions

round(3.9)
abs(-20)
pow(5,3)

'''
there are some other math functions such as

sqrt(x) -returns the square root of x
floor(x) - returns the integer <= to x
factorial(x) - returns the factors of x etc

'''

8
1
2

'\nthere are some other math functions such as\n\nsqrt(x) -returns the square root of x\nfloor(x) - returns the integer <= to x\nfactorial(x) - returns the factors of x etc\n\n'

In [ ]:
#operator precedence
print((20-3)+2**2)
'''
1. ()
2. **
3. */
4. +-

'''

21

'\n1. ()\n2. **\n3. */\n4. +-\n'

complex and bin()

In [ ]:
complex (3+1j)
'''
in this '3' is real number and '1j' is the imaginary number
which is used in complex maths operations
i.e while adding complex numbers like
2+3j & 5+9j

'''
#binary - bin (to represent the binary form of a number)
print(bin(5))
print(int('0b101',2))

0b101
5

In [ ]:
iq = 190
user_age =iq/4
a=user_age

print(a)

__    # dunder (starts with double underscore shouldn't declare a variable)

47.5

argumented assignment operator

In [ ]:
x = 5
'''
if we are gonna add or sub we do
x = x + 7
# insted we also can write as

'''
x += 2
x -= 2
x *= 2
print(x)

10

String Concatenation

In [ ]:
# adding of 2 strings
first_name = 'Geethika'
last_name = "Kandala"
full_name = first_name +' '+ last_name
print(full_name)

'''
 when we add the both must be str
 any one of thhem shouldn't be the other data type

 print('hello'+5)
 insted we need to convert it in to a str

'''
print('hello '+'5')
print('hi '+str(2.0))

Geethika Kandala
hello 5
hi 2.0

Formatted Strings

In [ ]:
name = 'geethika'
age = 20
print(f'Hi {name}. You are {age} old.')

Hi geethika. You are 20 old.

In [ ]:
x = 'hello there. have a good day.'

# every str starts it's index or starting num with '0'

print(x[1])    # to extract a letter from the str
print(x[-1])   # '-ve' starts counting from the end

# str_name[starts:ends:skip]

print(x[1:10:2])
print(len(x))  # len - length of str
print(x[::-1]) #reversing a str

# some other str functions are as follow used most

print(x.upper())
print(x.capitalize())
print(x.lower())
print(x.find('good'))
print(x.replace('hello','hi'))

print(x)

e
.
el hr
29
.yad doog a evah .ereht olleh
HELLO THERE. HAVE A GOOD DAY.
Hello there. have a good day.
hello there. have a good day.
20
hi there. have a good day.
hello there. have a good day.

Type Conversion

In [ ]:
#just adding the requried type to the value as below

print(type(str(10)))

<class 'str'>

Escape Sequence

In [ ]:
# are generally used when there are '' or "" quotes in the sentence

print(" hello \n \ti'm \"geethika\".\n\n \t i'm a \"good girl\"")

# \t - tab indicates for to add a space
# \n - for the new line

 hello
 	i'm "geethika".

 	 i'm a "good girl"

In [ ]:
# exersice of type conversion

name = input('Enter your name:')
birth_year= input('what year were you born?')
age = 2023 - int(birth_year)

print(type(birth_year))
print(f'hello {name}. you are {age} years old.')

Enter your name:gk

In [ ]:
birth_year= input('what year were you born?')

type(birth_year)

Creating a password checker

In [ ]:
user_name = input('user name:')
password=input('password:')
userpassword= len(password) * '*'

print(f'{user_name}, your password {userpassword} is {len(password)} letter long.')

user name:Geethika
password:kandala
Geethika, your password ******* is 7 letter long.

Lists

     List is a ordered sequence of objects of any type
     It is enclosed with the '[]'
     li = [1,2,'hello',10.0] similar to the array

In [ ]:
# lists slicing
'''
list are same like the str
str are immutable where as lists are mutable
list and str do consists of same syntax in slicing

'''
amazon_cart=['notes',
             'glasses',
             'toys',
             'pens']

amazon_cart[0]='laptop'
print(amazon_cart[0:2])

new_cart=amazon_cart[0:3]
new_cart[0]='pencil'

print (amazon_cart)
print(new_cart)

['laptop', 'glasses']
['laptop', 'glasses', 'toys', 'pens']
['pencil', 'glasses', 'toys']

List Method 1

In [ ]:
basket= [1,2,3,4,5]
print(len(basket))

# adding one more value to list
basket.append(100)
new_list = basket[0:4]
print(basket)
print(new_list)

basket.insert(1,105)
print(basket)

basket.extend([101])
print(basket)

# Removing
basket.pop() # in pop we give the index num of the value
basket.pop(2)
print(basket)

# where as in remove we give the value or the object
basket.remove(3)
print(basket)

# clear removes entire values in the list
basket.clear()
print(basket)

5
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4]
[1, 105, 2, 3, 4, 5, 100]
[1, 105, 2, 3, 4, 5, 100, 101]
[1, 105, 3, 4, 5, 100]
[1, 105, 4, 5, 100]
[]

List Method 2

In [ ]:
basket= ['a','b','c','d','e','d']

print (basket.index('d'))

print('c' in basket)   # displays bool value i.e true or false
print('x' in basket)

# count is used for to count how many times the word got repeated in list

print(basket.count('d'))

print('me' in 'to me or not to me')

3
True
False
2
True

Lists Method 3

In [ ]:
basket= ['a','x','b','c','d','e','d']
'''
here sort is a mthod in list in simple
it replaces according to the alphabetical order

'''
basket.sort()
print (basket)

# where as sorted is a keyword which also performs same action

sorted(basket)

x = [10,20,9,0,5,3,15]
x.sort()
print(x)

# note : sort in list can't be done b/w str & int

basket.reverse()
print(basket)

# we can also do as
print(basket[::-1])

print(range(1,100))
print(list(range(1,100)))

['a', 'b', 'c', 'd', 'd', 'e', 'x']
[0, 3, 5, 9, 10, 15, 20]
['x', 'e', 'd', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'd', 'e', 'x']
range(1, 100)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
# joining a list
'''
whatever we joins it will be added b/w two values
of the same list
eg:
'''
x=['hi','my','name','is','GK']
sentence= '!'
new_sentence = sentence.join(x)
print(new_sentence)

sentence= ' '
new_sentence = sentence.join(['hi','my','name','is','GK'])
print(new_sentence)

# insted we can also do as
new_sentence = ' '.join(['hello','my','name','is','GK'])
print(new_sentence)

hi!my!name!is!GK
hi my name is GK
hello my name is GK

List Unpacking

In [ ]:
a,b,*other,c,d = [1,2,3,4,5,6,'hello','hi','good day',7,8,9]
print(other)
print(c)
print(b)

[3, 4, 5, 6, 'hello', 'hi', 'good day', 7]
8
2

Matrix

In [ ]:
# it simply looks llike a array with in another array

matrix = [
   [1,2,3],
   [2,4,6],
   [7,8,9]
]

print(matrix[0][1])

2

Dictionary - dict
      
      a way for to organize the data that can store each values by declaring
      a new key to each value.A dict key is immutable so we can't use a list to define
      a key but we can use a str bool and even int to declare a key.
         In list we can print the data requried by using index num  where as in dict
      we can print the data by using the key that is declared to the specific value
      In dict we can assing a str or list or bool or int to a keys.
      we can even make a single list by combining 'n' no.of dictionaries

In [ ]:
dictionary = {
    'a':[1,2,3],
    'b':'hello',
    'x':True
}
my_list=[
  {
    'a':[1,2,3],
    'b':'hello',
    'x':True
},
  {
    'a':[4,5,6],
    'b':'hi',
    'x':False
}
    ]

print(dictionary['b'])
print(dictionary)

print(my_list[1]['a'][1])

hello
{'a': [1, 2, 3], 'b': 'hello', 'x': True}
5

In [ ]:
# dict methods

user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age':20
    }

print(user.get('age',25))

user1=dict(name='gk')
print(user1)

20
{'name': 'gk'}

In [ ]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age':20
    }

print('basket' in user)
print('hello' in user)

print('age' in user.keys())
print('hello' in user.values())
print(user.items())

print(user.pop('age'))
user1=user.copy()
user.clear()
print(user)
print(user1)

True
False
True
True
dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 20)])
20
{}
{'basket': [1, 2, 3], 'greet': 'hello'}

Conditional Logic

        Conditional operator performs a condition. ' if ' is a conditional
operator which checks the conndition and excecutes the statement if and if only
the condition of if statement is true. if the condition is false it move to the
else block or the next line.
        
         Indendations are important in this since indendation indicates the code
is under the if block

In [ ]:
is_old = True
is_licenced = True

if is_old:
  print('you are old enough to drive!')
elif is_licenced:
  print('you can drive now!')
else:
  print('you are not of age!')

print('okok')

you can drive now!
okok

In [ ]:
#

is_old = True
is_licenced = True

if is_old and is_licenced:
  print('you are old enough to drive!')
else:
  print('you are not of age!')

you are old enough to drive!

In [ ]:
# Ternary Operator

# condition_if_true if condition else condition_if_else

is_friend = False
can_message ='message allowed' if is_friend else 'not allowed to message'

print(can_message)

not allowed to message

In [ ]:
# Short Circuiting
# or - if either one is true it moves in to the if block
# and - if both of them are true then only it moves in to the if block
is_friend = True
is_user = False

if is_friend or is_user:
  print('best friends forever')

if is_friend and is_user:
  print('best friends forever')

best friends forever

Logical Operator - which allows us to perform logic b/w two things 'and' 'or'

In [ ]:
is_magician = True
is_expert = False

if is_magician and is_expert:
  print('you are a master magician')
elif is_magician and not is_expert:
  print('at least you\'re getting there')
elif not is_magician:
  print('you need some magic powers')

at least you're getting there

Loops

In [ ]:
# an iterable is something to get looped over
# eg: zero to mastry is a iterable
# for something in iterable to iterates
# for loops can allow us to iterate anything that has a collection of items
for item in 'zero to mastery':
  print(item)

for item in [1,2,3,4,5]:
  print(item)

z
e
r
o

t
o

m
a
s
t
e
r
y
1
2
3
4
5

In [ ]:
for item in (1,2,3,4,5):
  for x in ['a','b','c']:
    print(item,x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

Iterable - simply means an object or the collection that is iterated overload
           An iterable can either be list, dict, set, tuple, str
           iterated means can go one by one check each item in the collection

In [ ]:
user={
    'name':'gk',
    'age':20,
    'can_swim': False
}

for item in user.items():
  print(item)
for item in user.values():
  print(item)
for item in user.keys():
  print(item)
for key, value in user.items():
  print(key,value)

('name', 'gk')
('age', 20)
('can_swim', False)
gk
20
False
name
age
can_swim
name gk
age 20
can_swim False

In [ ]:
# counter
mylist=[1,2,3,4,5,6,7,8,9,10]

sum = 0
for i in mylist:
  sum = sum + i
print(sum)

55

In [ ]:
l1=list(range(1,10))

for i in l1:
  if i % 2 ==0:
     print(i)

2
4
6
8

Range

In [ ]:
print(range(10))

for i in range(10):
  print(i)

for i in range(0,10,2):
  print(i)

range(0, 10)
0
1
2
3
4
5
6
7
8
9
0
2
4
6
8

In [ ]:
for i in range(10,0,-1): # in decending order
  print(i)
for i in range(10,0,-3): # in decending order
  print(i)

10
9
8
7
6
5
4
3
2
1
10
7
4
1

Enumerate

In [ ]:
for i,char in enumerate('hellooo'):
  print(i,char)

0 h
1 e
2 l
3 l
4 o
5 o
6 o

In [ ]:
thislist = ['apple','banana','cherry','oranges','kiwi','melon','mango']

for i,v in enumerate(thislist):
  if v == 'cherry':
    print(i,'hey cherry is here in the index :')
  else:
    print(i,'cherry isn\'t here in this index ')

0 cherry isn't here in this index
1 cherry isn't here in this index
2 hey cherry is here in the index :
3 cherry isn't here in this index
4 cherry isn't here in this index
5 cherry isn't here in this index
6 cherry isn't here in this index

In [ ]:
for v , i in enumerate(list(range(100,201))):
  if i == 150:
   print(f'the index of {i} is {v}')

the index of 150 is 50

While Loop

In [ ]:
'''
in the while loop while the condition is given
while a condition is happening do something
while condition:
this is called infinte loop
inorder to solve this we need to break the loop
to jump out of the while loop we can either make the condition false
or use the break
'''
i = 0
while i < 10:
  print(i)
  i += 1

else:
  print('done with all the work')

0
1
2
3
4
5
6
7
8
9
done with all the work

when to use while and when to use for

In [ ]:
mylist = [3,2,6]

for i in mylist:
  print(i)

i=0
while range(i < len(mylist)):
  print(mylist [i])
  i += 1

3
2
6
3
2
6

In [ ]:
# if we didn't use the break then it will be looping over again and again
while True:
  input('say something:')
  break

say something:hello

In [ ]:
while True:
  response = input('say something:')
  if response == 'bye':
   break

say something:hi
say something:hello
say something:don't repeate
say something:bye

Break, continue,  pass

In [ ]:
mylist = [3,2,6]

for i in mylist:
  continue
  print(i)

i=0
while range(i < len(mylist)):
  print(mylist [i])
  i += 1
  continue

# it does nothing but simply passes to the next
for i in mylist:
  # thinkinng about it
  pass

i=0
while range(i < len(mylist)):
  print(mylist [i])
  pass
  i += 1

3
2
6
3
2
6

Our first GUI

In [ ]:
# Graphical User Interface
# exercise!
'''
clean
readability
predictability
don't repeate yourself

'''
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]
]

# 1. iterate over picture
   #  if 0 -> print ' '
   #  if 1 -> print *
for i in picture:
  for j in i:
   if j :
    print('$', end='')
   else:
    print(' ', end='')
  print('') # need a new row after every line

   $
  $$$
 $$$$$
$$$$$$$
   $
   $

Find duplicates

In [ ]:
some_list = ['a','b','c','b','d','m','n','n']

duplicates = []
for i in some_list:
  if some_list.count(i) > 1:
    if i not in duplicates:
     duplicates.append(i)
duplicates

['b', 'n']